@import "basecolor";

#id-home {
  margin-top: 50px;
  .mainbackimg {
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    img {
      width: 100%;
      min-height: 100%;
    }
  }
  .container {
    background-color: #ffffffc7;
  }
}

#id-home-friendlist {
  display: flex;
  width: 800px;
  padding: 10px;
  box-shadow: 0 5px 17.28px 0.72px hsla(0, 0%, 57%, .21);
  margin: 50px auto 72px;
  .friendlist {
    //display: flex;
    flex-direction: column;
    height: 800px;
    width: 600px;
    padding: 30px;
    overflow: auto;
  }
  .frinedlistTitle {
    .title {
      font-size: 24px;
      font-weight: 500;
    }
    .add {
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 30px;
      /* text-align: center; */
      border: 1px solid;
      cursor: pointer;
      color: #1088e9;
      .add1 {
        position: absolute;
        background-color: $cdark;
        width: 10px;
        height: 2px;
      }
      .add2 {
        position: absolute;
        background-color: $cdark;
        width: 2px;
        height: 10px;
      }
    }
  }
  .friendcell {
    display: flex;
    border-bottom: 1px solid $clight;
    padding: 10px 10px 20px;
    align-items: center;
    justify-content: space-between;
  }
  .friendinfo {
    .address {
      padding: 5px;
      text-transform: lowercase;
    }
    .name {
      color: #000;
      padding: 5px;
      font-weight: 400;
      &:hover {
        //background-color: $clight;
      }
    }
  }
  .clicktoname {
    color: #999;
    font-size: 14px;
  }
  .friendremoveButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    /* text-align: center; */
    border: 1px solid;
    cursor: pointer;
    color: $cdark;
    .minus {
      width: 10px;
      height: 2px;
      background-color: $cdark;
    }
  }
  .friendmenu {
    min-width: 100px;
    padding: 20px;
    margin-right: 30px;
    border-right: 1px solid $clight;
  }
  .menucell {
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    &:hover {
      background-color: $clight;
    }
  }
}

#id-home-recover {
  padding: 50px;
  margin-bottom: 100px;
}